@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #1992d4;
    --grey: #e2e8f0;
    --yellow: #f0b429;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.icon {

    width: 30px;
    height: auto;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    background-color: black;
}
.main-container {
    width: 1600px;
    display: grid;
    grid-template-columns: 310px 1fr;
    grid-template-rows: min-content 1fr;
    height: 900px;
}

.sidebar {
    background-color: var(--blue);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    color: white;
}
.sidebar-box {
    display: grid;
    padding: 30px 30px;
    row-gap: 37px;
}
.sidebar-header {
    display: grid;
    justify-items: flex-start;
    grid-template-columns: 45px 1fr;
    gap: 20px;
}

.logo-square {
    display: grid;
    gap: 5px;
    grid-template-columns: 20.9px 20.9px;
    grid-template-rows: repeat(5, 4.75px);


    .topleft {
        grid-area: 1 / 1 / 4 / 2;
        background-color: white;
    }
    .topright {
        grid-area: 1 / 2 / 3 / 3;
        background-color: white;
    }
    .bottomleft {
        grid-area: 4 / 1 / 6 / 2;
        background-color: white;
    }
    .bottomright {
        grid-area: 3 / 2 / 6 / 3;
        background-color: white;
    }
}


.sidebar-buttons li a{
    padding: 7.5px 10px;
    display: grid;
    column-gap: 15px;
    grid-template-columns: 30px 1fr;
    font-weight: 500;

    &:hover {
        color: lightgrey;
    }
}
.sidebar-buttons img {
    filter: invert(1);
    width: 30px;
    height: auto;
}
.header {
    background-color: white;
    grid-row: 1 / 2;
    color: black;
    font-weight: 500;
}
.header-container {
    padding: 12px 50px;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    align-items: center;
}

.searchbar {
    grid-area: 1 / 1 / 2 / 4;
    align-items: center;
    gap: 20px;
    display: grid;
    grid-template-columns: 30px 1fr;
}
.search-input {
    width: 600px;
    background-color: var(--grey);
    border: none;
    border-radius: 20px;
    height: 2.4rem;
}
.user-info-stuff {
    grid-area: 1 / 4 / 2 / 6;
    display: grid;
    justify-content: end;
    column-gap: 22px;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}
.user-greeting {
    grid-area: 2 / 1 / 4 / 4;
    display: grid;
    column-gap: 20px;
    justify-content: start;
    justify-items: start;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr;
}
.user-greeting-text {
    line-height: 1.7rem;
    margin-top: 7px;
}
.hello {
    font-size: 1.1rem;
}
.large-text {
    font-size: 1.8rem;
}
.header-buttons {
    grid-area: 2 / 4 / 4 / 6;
}
.header-buttons ul li{
    display: grid;
}
.header-buttons a {
    background-color: var(--blue);
    color: white;
    padding: 10px 0;
    width: 140px;
    border-radius: 25px;
    text-align: center;

    &:hover {
        background-color: #1a709e;
    }
}
.header-buttons ul {
    display: grid;
    align-items: center;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.user-avatar {
    border-radius: 50%;
    border: 4px solid black;
}
.user-info-stuff .user-avatar {
    width: 60px;
    height: auto;
}
.user-greeting .user-avatar {
    width: 75px;
    height: auto;
}
.main-content {
    background-color: var(--grey);
    grid-row: 2 / 3;
}
.main-content-grid {
    display: grid;
    padding: 28px 18px;
    column-gap: 30px;
    grid-template-columns: 75% 25%;
}
.section-title {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 3px;
}
.card-title {
    font-weight: 600;
    font-size: 1.4rem;
    align-self: end;
}
.main-card-text {
    line-height: 1.3rem;;
    font-size: 1.1rem;
    font-weight: 400;
}
.side-grid {
    display: grid;
    width: 90%;
}
.card.announcements {
    padding: 0 20px;
}
.announcements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 15px;
}
.announcement {
    padding-top: 20px;
    padding-bottom: 25px;
    border-bottom: 2px solid gray;
    display: grid;

}
.announcement:last-child {
    border: none;
}
.announcement-title {
    font-weight: 500;
    align-self: end;
    font-size: 1.15rem;
}
.announcement-text {
    line-height: 1.2rem;
    font-weight: 400;
    font-size: 1rem;
}
.side-grid-box {
    display: grid;
}
.main-card-buttons {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    align-content: end;
    gap: 16px;
}
.card-section {
    display: grid;
    gap: 16px;
    grid-template-columns: 50% 50%;
}
.card {
    padding: 20px 28px;
    background-color: white;
    border-radius: 10px;
}
.main-card {
    width: 98%;
    height: 250px;
    display: grid;
    background: linear-gradient(to right, var(--yellow) 3%, white 3%);
}

.trending-grid img {
    width: 60px;
    height: auto;
    border: 4px solid black;
    border-radius: 50%;
}

.trending-card {
    display: grid;
    row-gap: 20px;

}
.card.trending-card {
    padding: 15px 15px;
}
.trending-entry {
    display: grid;
    column-gap: 15px;
    grid-template-columns: 60px auto;
}
.trending-username {
    font-weight: 500;
    font-size: 110%;
}
.trending-info {
    font-size: 80%;
}